:root {
  --bgColor: #020617;
  --bgColor2: rgba(18, 22, 39, 0.8);
  --bgColor3: rgba(255, 255, 255, 0.05);
  --textColor: #ffffff;
  --subTextColor: #94a3b8;
  --gradientColor: linear-gradient(270.33deg, #d9c4af -70.15%, #ffffff 97.57%);
  --textBtnColor: #090909;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: var(--bgColor);
  color: var(--textColor);
  font-size: 16px;
}

.container {
  max-width: 1100px;
  width: 100%;
  margin-inline: auto;
  padding-bottom: 100px;
}

/* Button styles */
.btn {
  padding: 12px 20px;
  border-radius: 12px;
  background: var(--gradientColor);
  color: var(--textBtnColor);
  font-weight: 500;
  font-size: 16px;
  border: none;
  outline: none;
}
/* End button styles */

/* Title styles */
.title {
  font-size: 30px;
  font-weight: 800;
  color: transparent;
  background: var(--gradientColor);
  background-clip: text;
  -webkit-background-clip: text;
}
/* end Title styles */

/* Header Style */
.header {
  margin-top: 25px;
  margin-inline: 6%;
  background-color: var(--bgColor2);
  border-radius: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 40px;
}
.header__logo {
  display: flex;
  align-items: flex-end;
  gap: 6px;
}
.header__logo-name {
  font-size: 18px;
  font-weight: 700;
  color: var(--textColor);
}
.header__nav-list {
  display: flex;
  align-items: center;
  gap: 40px;
}
.header__nav-link {
  color: var(--subTextColor);
  font-weight: 500;
  transition: ease 0.2s;
}
.header__nav-link.active {
  color: var(--textColor);
  font-weight: 600;
}
.header__nav-link:hover {
  color: var(--textColor);
  font-weight: 600;
}
/* End Header Style */
